header{
    text-align: center;
}

.list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    padding-top: 30px;
}

.shop {
    flex-basis: 33%;
    margin: auto;
    padding-top: 5px;
}